## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,71.92,84,20,9.22,light rain
1,1,Lavrentiya,RU,65.5833,-171.0000,-25.35,91,57,7.14,broken clouds
2,2,Georgetown,MY,5.4112,100.3354,80.89,93,20,0.00,few clouds
3,3,Rikitea,PF,-23.1203,-134.9692,78.75,67,3,16.31,clear sky
4,4,Tual,ID,-5.6667,132.7500,82.47,79,94,14.58,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What's the min temp you'd like for your trip?"))
max_temp = float(input("What's the max temp you'd like for your trip?"))

What's the min temp you'd like for your trip?-40
What's the max temp you'd like for your trip?60

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Lavrentiya,RU,65.5833,-171.0000,-25.35,91,57,7.14,broken clouds
5,5,Panzhihua,CN,26.5851,101.7128,47.62,56,4,1.61,clear sky
7,7,Defiance,US,41.3334,-84.4500,43.00,65,0,8.05,clear sky
8,8,Punta Arenas,CL,-53.1500,-70.9167,53.71,37,40,29.93,scattered clouds
10,10,Ovre Ardal,NO,61.3167,7.8000,29.28,97,100,9.35,light snow

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                250
City                   250
Country                250
Lat                    250
Lng                    250
Max Temp               250
Humidity               250
Cloudiness             250
Wind Speed             250
Current Description    250
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

clean_df.count()

City_ID                250
City                   250
Country                250
Lat                    250
Lng                    250
Max Temp               250
Humidity               250
Cloudiness             250
Wind Speed             250
Current Description    250
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Lavrentiya,RU,-25.35,broken clouds,65.5833,-171.0000,
5,Panzhihua,CN,47.62,clear sky,26.5851,101.7128,
7,Defiance,US,43.00,clear sky,41.3334,-84.4500,
8,Punta Arenas,CL,53.71,scattered clouds,-53.1500,-70.9167,
10,Ovre Ardal,NO,29.28,light snow,61.3167,7.8000,
11,Codrington,AU,56.84,broken clouds,-38.2667,141.9667,
12,Bam,IR,55.29,clear sky,29.1060,58.3570,
14,Vrangel,RU,28.11,overcast clouds,42.7297,133.0839,
18,Kodiak,US,24.31,broken clouds,57.7900,-152.4072,
19,Hornepayne,CA,27.77,snow,49.2138,-84.7705,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    
        lat = row["Lat"]
        lng = row["Lng"]
        
        params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
   
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
        hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.count()

City                   250
Country                250
Max Temp               250
Current Description    250
Lat                    250
Lng                    250
Hotel Name             250
dtype: int64

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Panzhihua,CN,47.62,clear sky,26.5851,101.7128,Electric Power Hotel
7,Defiance,US,43.00,clear sky,41.3334,-84.4500,Airway Estates
8,Punta Arenas,CL,53.71,scattered clouds,-53.1500,-70.9167,Hotel Hain
10,Ovre Ardal,NO,29.28,light snow,61.3167,7.8000,Sitla Motel & Apartment
11,Codrington,AU,56.84,broken clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast

In [11]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))